<mat-card class="container_comp mat-elevation-z0" fxLayoutAlign="center center">
  <div class="multiple-form-container" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="loader" fxLayout="col wrap" fxLayoutAlign="center center" *ngIf="spinnerBox.LoadSuccess">
      <mat-spinner [diameter]="60"></mat-spinner>
    </div>
    <mat-card class="create_form mat-elevation-z8" *ngIf="!spinnerBox.LoadSuccess">
      <mat-card fxLayout="col wrap" class="title-container mat-elevation-z0">
        <div fxLayout="row wrap" class="form_title">
          <button type="button" (click)="goBack()" class="button-resize" mat-icon-button mat-raised-button>
            <mat-icon>arrow_back</mat-icon>
          </button>
          <div class="form-title" fxLayoutAlign="center center">
            <ng-template #edit>
              <h2>SST内容修正</h2>
            </ng-template>
            <ng-template #readonly>
              <h2>SST内容</h2>
            </ng-template>
            <ng-container *ngIf="AccessRights.sar_sst_update===0; then readonly; else edit">
            </ng-container>
          </div>
        </div>
      </mat-card>
      <form [formGroup]="sstForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
        <mat-divider></mat-divider>
        <div class="form-group2" fxLayout="col wrap" fxLayoutAlign="center center">
          <mat-form-field appearance="outline" class="fieldflex defaultvalue">
            <mat-label>*申請日</mat-label>
            <input formControlName="applyDate" [readonly]="applyDateDisabled" matInput [matDatepicker]="datenow"
              trim="blur">
            <mat-datepicker-toggle matSuffix [for]="datenow" [hidden]="applyDateDisabled"></mat-datepicker-toggle>
            <mat-datepicker #datenow></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline" class="fieldflex ">
            <mat-label>*拠点</mat-label>
            <mat-select formControlName="baseListCombo" (ngModel)="sstFormValue.baseID"
              (ngModelChange)="sstFormValue.baseID = $event">
              <mat-option *ngFor="let base of $baseOptions  | async" [value]="base.stb_base_id">{{base.stb_base_desc}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group" fxLayout="col wrap" fxLayoutAlign="center center">
          <mat-form-field appearance="outline" class="fieldflex">
            <mat-label>*展開責任者</mat-label>
            <input formControlName="applyUserName" maxlength="50" matInput trim="blur">
            <mat-error *ngIf="sstForm.get('applyUserName')?.invalid">{{applyUserName()}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="fieldflex" hideRequiredMarker="true">
            <mat-label>*メールアドレス</mat-label>
            <input matInput placeholder="列:Taro@jty.yuden.co.jp" maxlength="50" formControlName="emailTxt" required
              trim="blur">
            <mat-error *ngIf="sstForm.get('emailTxt')?.invalid">{{emailErrorMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="fieldflex">
            <mat-label>内線</mat-label>
            <input formControlName="localNumberTxt" maxlength="15" matInput trim="blur">
          </mat-form-field>
        </div>
        <div class="form-group" fxLayout="col wrap" fxLayoutAlign="center center">
          <mat-form-field appearance="outline" class="fieldflex">
            <mat-label>*着手予定日ー＞完了予定日</mat-label>
            <mat-date-range-input [rangePicker]="rangepicker">
              <input formControlName="lunchDate" readonly matEndDate (dateChange)="minDateCompute()" trim="blur">
              <input formControlName="startDate" readonly matStartDate trim="blur">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="rangepicker" [hidden]="AccessRights.sar_sst_update===0">
            </mat-datepicker-toggle>
            <mat-date-range-picker #rangepicker></mat-date-range-picker>
            <mat-error *ngIf="sstForm.get('startDate')?.invalid || sstForm.get('lunchDate')?.invalid">
              {{startendDateErrorMsg2()}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="fieldflex completedvalue">
            <mat-label>完了日</mat-label>
            <input formControlName="endDate" [min]="minDate" [readonly]="AccessRights.sar_sst_update===0" matInput
              [matDatepicker]="datenow3" placeholder="完了日" trim="blur">
            <mat-datepicker-toggle matSuffix [for]="datenow3" [hidden]="AccessRights.sar_sst_update===0">
            </mat-datepicker-toggle>
            <mat-datepicker #datenow3></mat-datepicker>
            <mat-error *ngIf="sstForm.get('endDate')?.invalid">{{startendDateErrorMsg()}}</mat-error>
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div class="form-group2" fxLayout="col wrap" fxLayoutAlign="center center">
          <mat-form-field appearance="outline" class="fieldflex">
            <mat-label>*展開案件</mat-label>
            <input formControlName="conditionTxt" matInput trim="blur" [readonly]="AccessRights.sar_sst_update===0">
            <mat-error *ngIf="sstForm.get('conditionTxt')?.invalid">{{conditionTxtErrorMsg()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group" fxLayout="col wrap" fxLayoutAlign="center center">
          <mat-form-field appearance="outline" class="fieldflex">
            <mat-label>*工程</mat-label>
            <mat-select formControlName="processListTxt" (ngModelChange)="sstFormValue.processListTxt = $event">
              <mat-option *ngFor="let process of processOptions" [value]="process" class="combotext">{{process}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="sstForm.get('processListTxt')?.invalid">{{processListErrorMsg()}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="fieldflex">
            <mat-label>*設備</mat-label>
            <input formControlName="machineListTxt" type="text" placeholder="設備が複数関係する場合は、カンマ区切りで記載" aria-label="Number"
              matInput [matAutocomplete]="machine" trim="blur" [readonly]="AccessRights.sar_sst_update===0">
            <mat-autocomplete #machine="matAutocomplete">
              <mat-option *ngFor="let machine of machinefilteredOptions | async " [value]="machine" class="combotext">
                {{machine}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="sstForm.get('machineListTxt')?.invalid">{{machineListErrorMsg()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group" fxLayout="col wrap" fxLayoutAlign="center center">
          <mat-form-field appearance="outline" class="fieldflex">
            <mat-label>*活動内容</mat-label>
            <mat-select formControlName="activityListTxt" (ngModel)="sstFormValue.activityListTxt"
              (ngModelChange)="sstFormValue.activityListTxt = $event">
              <mat-option *ngFor="let activity of $ActivityList  | async" [value]="activity.stc_id">
                {{activity.stc_content_desc}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="sstForm.get('activityListTxt')?.invalid">{{activitylistErrorMsg()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group" fxLayout="col wrap" fxLayoutAlign="center center">
          <mat-form-field appearance="outline" class="fieldflex">
            <mat-label>*期待効果</mat-label>
            <input formControlName="expectedEffectTxt" matInput trim="blur"
              [readonly]="AccessRights.sar_sst_update===0">
            <mat-error *ngIf="sstForm.get('expectedEffectTxt')?.invalid">{{expectedEffectErrorMsg()}}</mat-error>
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="col wrap" fxLayoutAlign="left" class="form_title2">
          <h3>1. 気づき</h3>
        </div>
        <div class="form-group" fxLayout="col wrap" fxLayoutAlign="center center">
          <mat-form-field appearance="outline" class="fieldflex">
            <mat-label>使用ツール</mat-label>
            <input formControlName="awarenessToolListTxt" type="text" aria-label="Number" matInput
              [matAutocomplete]="awareness" trim="blur" [readonly]="AccessRights.sar_sst_update===0">
            <mat-autocomplete #awareness="matAutocomplete">
              <mat-option *ngFor="let awareness of awarenessfilteredOptions | async " [value]="awareness"
                class="combotext">
                {{awareness}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="sstForm.get('awarenessToolListTxt')?.invalid">{{awarenessTxtErrorMsg()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group" fxLayout="col wrap" fxLayoutAlign="center center">
          <mat-form-field appearance="outline" class="fieldflex">
            <mat-label>詳細</mat-label>
            <textarea [readonly]="AccessRights.sar_sst_update===0" formControlName="awarenessTxt" #awarenesstxt
              maxlength="4000" rows="4" (keydown.enter)="$event.stopPropagation()" matInput></textarea>
            <mat-hint align="end">{{awarenesstxt.value.length || 0}}/4000</mat-hint>
          </mat-form-field>
        </div>
        <div fxLayout="col wrap" fxLayoutAlign="left" class="form_title">
          <h3>2. 分析</h3>
        </div>
        <div class="form-group2" fxLayout="col wrap" fxLayoutAlign="center center">
          <mat-form-field appearance="outline" class="fieldflex">
            <mat-label>使用ツール</mat-label>
            <input formControlName="analysisToolListTxt" type="text" aria-label="Number" matInput
              [matAutocomplete]="analysis" trim="blur" [readonly]="AccessRights.sar_sst_update===0">
            <mat-autocomplete #analysis="matAutocomplete">
              <mat-option *ngFor="let analysis of analysisfilteredOptions | async " [value]="analysis"
                class="combotext">
                {{analysis}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="sstForm.get('analysisToolListTxt')?.invalid">{{analysisTxtErrorMsg()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group" fxLayout="col wrap" fxLayoutAlign="center center">
          <mat-form-field appearance="outline" class="fieldflex">
            <mat-label>詳細</mat-label>
            <textarea formControlName="analysisTxt" [readonly]="AccessRights.sar_sst_update===0" #analysisTxt
              maxlength="4000" rows="4" (keydown.enter)="$event.stopPropagation()" matInput></textarea>
            <mat-hint align="end">{{analysisTxt.value.length || 0}}/4000</mat-hint>
          </mat-form-field>
        </div>
        <div fxLayout="col wrap" fxLayoutAlign="left" class="form_title">
          <h3>3. アクション</h3>
        </div>
        <div class="form-group2" fxLayout="col wrap" fxLayoutAlign="center center">
          <mat-form-field appearance="outline" class="fieldflex">
            <mat-label>使用ツール</mat-label>
            <input formControlName="actionToolListTxt" type="text" aria-label="Number" matInput
              [matAutocomplete]="action" trim="blur" [readonly]="AccessRights.sar_sst_update===0">
            <mat-autocomplete #action="matAutocomplete">
              <mat-option *ngFor="let action of actionfilteredOptions | async " [value]="action" class="combotext">
                {{action}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="sstForm.get('actionToolListTxt')?.invalid">{{actionTxtErrorMsg()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group" fxLayout="col wrap" fxLayoutAlign="center center">
          <mat-form-field appearance="outline" class="fieldflex">
            <mat-label>詳細</mat-label>
            <textarea formControlName="actionTxt" [readonly]="AccessRights.sar_sst_update===0" #actionTxt
              maxlength="4000" rows="4" (keydown.enter)="$event.stopPropagation()" matInput></textarea>
            <mat-hint align="end">{{actionTxt.value.length || 0}}/4000</mat-hint>
          </mat-form-field>
        </div>
        <div fxLayout="col wrap" fxLayoutAlign="left" class="form_title">
          <h3>4. 結果</h3>
        </div>
        <div class="form-group2" fxLayout="col wrap" fxLayoutAlign="center center">
          <mat-form-field appearance="outline" class="fieldflex">
            <mat-label>使用ツール</mat-label>
            <input formControlName="resultToolListTxt" type="text" aria-label="Number" matInput
              [matAutocomplete]="result" trim="blur" [readonly]="AccessRights.sar_sst_update===0">
            <mat-autocomplete #result="matAutocomplete">
              <mat-option *ngFor="let result of resultfilteredOptions | async " [value]="result" class="combotext">
                {{result}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="sstForm.get('resultToolListTxt')?.invalid">{{resultTxtErrorMsg()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group" fxLayout="col wrap" fxLayoutAlign="center center">
          <mat-form-field appearance="outline" class="fieldflex">
            <mat-label>詳細</mat-label>
            <textarea formControlName="resultTxt" [readonly]="AccessRights.sar_sst_update===0" #resultTxt
              maxlength="4000" rows="4" (keydown.enter)="$event.stopPropagation()" matInput></textarea>
            <mat-hint align="end">{{resultTxt.value.length || 0}}/4000</mat-hint>
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div class="form-group button-area" fxLayout="col wrap" fxLayoutAlign="center center">
          <button type="submit" *ngIf="AccessRights.sar_sst_update!==0" mat-raised-button class="save-button">
            <mat-icon>save</mat-icon>
          </button>
          <button type="button" (click)="cancelform()" mat-stroked-button class="actionbuttons">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </form>
    </mat-card>
    <mat-card class="create_form mat-elevation-z8" *ngIf="!spinnerBox.LoadSuccess && AccessRights.sar_sst_update!==0">
      <div class="upload-title">
        <h3>添付ファイル</h3>
      </div>
      <div class="upload-title">
        <h5>※ファイルを1つずつアップロードしてください。サイズ上限：1ファイルにつき10MB</h5>
      </div>
      <mat-selection-list #SSTfilelist [multiple]="true">
        <mat-list-option *ngFor="let x of sstFiles" [value]="x">
          {{x.sa_filename}} - {{ calculateSize(x.sa_filesize)}}KB
        </mat-list-option>
      </mat-selection-list>
      <div *ngIf="filenames" class="newfile-area">
        <div class="upload-title">
          <h3>新しいファイル</h3>
        </div>
        <mat-selection-list #SSTfilelistnew [multiple]="false">
          <mat-list-option *ngFor="let x of filenames">
            {{x.name}} - {{x.size}}KB
          </mat-list-option>
        </mat-selection-list>
      </div>
      <div class="form-group button-area" fxLayout="col wrap" fxLayoutAlign="center center">
        <input type="file" class="file-input"
          accept=".pdf, .xlsm, .xls, .pptx, .doc, .docx, .jpg, .png, .jpeg, .gif, .bmp" id="customFile" name="sstfiles"
          (change)="onFileSelect($event)" #UploadFileInput>
        <button type="button" class="filebuttons" (click)="UploadFileInput.click(); $event.preventDefault()"
          mat-stroked-button>
          <mat-icon>folder</mat-icon>
        </button>
        <button type="button" [disabled]="uploadbuttonEnable" class="filebuttons" (click)="uploadnewfile()"
          mat-raised-button color="primary">
          <mat-icon>cloud_upload</mat-icon>
        </button>
        <span class="spacer"></span>
        <button type="button" *ngIf="sstFiles" (click)="deleteSelectedFile(SSTfilelist)" class="filebuttons"
          mat-raised-button color="warn">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</mat-card>
