<div fxLayout="col wrap">
  <h2 mat-dialog-title>拠点リスト</h2> <span class="spacer"></span>
  <button *ngIf="userinfo[0].su_access_rights[0].sar_base_create!==0" (click)="openDialogCreateBase()" mat-mini-fab
    class="add-button">
    <mat-icon>add</mat-icon>
  </button>
</div>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <div class="form-group2" fxLayout="row wrap" fxLayoutAlign="center center">
    <table mat-table [dataSource]="$BaseList" class="mat-elevation-z0 table-container">
      <ng-container matColumnDef="拠点">
        <th mat-header-cell *matHeaderCellDef>拠点</th>
        <td mat-cell *matCellDef="let element"> {{element.stb_base_desc}} </td>
      </ng-container>
      <ng-container matColumnDef="操作">
        <th mat-header-cell *matHeaderCellDef> 操作</th>
        <td mat-cell *matCellDef="let element">
          <button *ngIf="userinfo[0].su_access_rights[0].sar_base_update!==0" class="button-resize" color="primary"
            (click)="openDialogEditBase(element)" mat-icon-button mat-raised-button>
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
    </table>
  </div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions fxLayout="col wrap" fxLayoutAlign="center center">
  <button type="button" (click)="closeDialog()" mat-stroked-button class="actionbuttons">
    <mat-icon>cancel</mat-icon>
  </button>
</div>
