<div fxLayout="col wrap">
  <h2 mat-dialog-title>活動グループリスト</h2> <span class="spacer"></span>
  <button (click)="openDialogCreateActivityGroup()" mat-mini-fab class="add-button">
    <mat-icon>add</mat-icon>
  </button>
</div>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <div class="loader" fxLayout="col wrap" fxLayoutAlign="center center" *ngIf="!$groupListItem">
    <mat-spinner [diameter]="60"></mat-spinner>
  </div>
  <div class="activity-form" fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="$groupListItem">
    <table mat-table [dataSource]="$groupListItem" class="mat-elevation-z0 table-container">
      <ng-container matColumnDef="活動グループ名">
        <th mat-header-cell *matHeaderCellDef>活動グループ名</th>
        <td mat-cell *matCellDef="let element"> {{element.stg_group}} </td>
      </ng-container>
      <ng-container matColumnDef="操作">
        <th mat-header-cell *matHeaderCellDef> 操作</th>
        <td mat-cell *matCellDef="let element">
          <button class="button-resize" color="primary" (click)="openDialogEditActivityGroup(element)" mat-icon-button
            mat-raised-button>
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
    </table>
  </div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions fxLayout="col wrap" fxLayoutAlign="center center">
  <button type="button" (click)="closeDialog()" mat-stroked-button class="actionbuttons">
    <mat-icon>cancel</mat-icon>
  </button>
</div>
